ul.products li.product, .products .owl-item > .product {
    transition: all 0.2s ease-in-out 0s;
    padding: 0 0 1.688em 0;

    h3 {
        font-size: 1.313em;
        font-weight: normal;
    }

    .button {
        padding: .733em 3em;
    }

    .button,
    .added_to_cart {
        font-size: 0.938em;
        transition: all 0.2s ease;
    }

    .added_to_cart {
        background-color: #f5f5f5;
        color: #2b2b2b;
        padding: .733em 5em;
        display: inline-block;
    }

    .button:focus {color: #fff;}

    .product-image-wrapper,
    .product-content-wrapper {
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        padding-right: 15px;
        padding-left: 15px;
        transition: all 0.1s ease-in-out 0s;
    }

    .product-image-wrapper {
        border-top: 5px solid transparent;
    }

    .product-content-wrapper {
        border-bottom: 5px solid transparent;
    }

    .hover-area {
		display: none;
		border: none;
		position: relative;
		text-align: center;
        height: 5.250em;
		background-color: #FFF;
        transition: all 0.1s ease-in-out 0s;

		.button {
			&:hover, &:active, &:focus {
				color: #fff;
			}
		}
	}

    &:hover, &.hover {
		z-index: 999;
		position: relative;

        .product-image-wrapper,
        .product-content-wrapper {
            border-color: #e9e9e9;
        }

		.product-inner {
			position: absolute;
			width: 100%;
			height: auto;
            left: 0;
			min-height: 100%;
			background-color: #fff;
		}

		.hover-area {
			display: block;
			padding-top: 0.214em;
            position: relative;
            z-index: 1;
            padding-bottom: 30px;
            transition: all 0.1s ease-in-out 0s;
		}

        .ywapo_input_container_radio {
            input:checked + label::before {
                background-color: #ffcd00;
                border: 2px solid #ffcd00;
            }
        }
	}

	.product-inner {
        padding: 0;
		height: 100%;
		position: relative;
	}

    .product-outer {
        position: relative;
    }

    .button.added {
        display: none;
    }

    .woocommerce-LoopProduct-link {
        @include clearfix;
        position: relative;

        > h3 {
            display: inline-block;
            overflow: hidden;
            height: 1.190em;
            line-height: 1.2em;
            max-width: 14.286em;
        }
    }

    .food-type-icon {
        display: inline-block;
        padding-left: 6px;
        vertical-align: top;

        i {
            font-size: 0.875em;
        }

        i + i {
            padding-left: 6px;
        }
    }

    .onsale {
        position: absolute;
        left: 0;
    }

    div[itemprop="description"] {
        font-style: italic;
        color: #71706c;
        font-size: 0.875em;
        font-weight: normal;
        line-height: 1.6;
        //height: 3.571em;
        overflow: hidden;
        padding: 0 3em;
    }

    .required,.yith_wapo_groups_container ~ .price {display: none;}

    .yith_wapo_groups_container {
        height: 7.813em;
    }

    .ywapo_group_container_radio {
        display: inline-block;

        h3 {
            position: relative;
        	overflow: hidden;
    		text-align: center;
            color: #2b2929;
    		font-size: 0.875em;
            margin-bottom: 1.429em;
            margin-top: 0.857em;


    		span {
    			display: inline-block;
    			vertical-align: baseline;
    			zoom: 1;
    			position: relative;
    			padding: 0 20px;

    			&:before,&::after {
    				content: '';
    			    display: block;
    			    width: 100%;
    			    position: absolute;
    			    border-top: 1px solid #d5d5d5;
                    top: 50%;
    			}

    			&::before {
    				right: 100%;
    			}

    			&::after {
    				left: 100%;
    			}
    		}
        }
    }

    .ywapo_input_container_radio.ywapo_input_container {
        display: inline-block;

        &:nth-child(n+4) {display: none;}
    }
}

.columns-4 ul.products li.product, .columns-4 .products .owl-item > .product {

    .ywapo_input_container_radio {
        margin: 0 .6em 1em;
    }

    .ywapo_input_container_radio .ywapo_label_price .amount {
        font-size: 1.063em;
    }

    .ywapo_input_container_radio .ywapo_label_price {
        padding-left: 5px;
    }

    .ywapo_group_container_radio h3 {
        margin: .857em 0 2.429em;
    }
}

.grid-view.full-width.dark {
    ul.products li.product, .products .owl-item > .product {
        border: none;
        border-radius: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;

        &:hover {
            border: none;

            .button {
                display: inline-block;
                margin: 0;
            }
        }

        .product-inner,.hover-area {
            border-radius: 10px;
            background-color: transparent;
        }

        .hover-area {
            padding-bottom: 30px;
        }

        img {
            margin: 0;
            width: 100%;
        }

        .woocommerce-LoopProduct-link>h3 {
            //padding-top: 24px;
            //padding-bottom: 6px;
            //height: 2.619em;
        }

        .price {
            font-size: 1.25em;
            color: #2d2b2d;

            > del {
                font-size: 0.8em;
            }

            .woocommerce-Price-currencySymbol {
                font-size: small;
                vertical-align: top;
                line-height: 1.4;
            }
        }

        .product-content-wrapper {
            padding-top: 24px;
        }

        .product-image-wrapper,img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .ywapo_group_container_radio h3 span::after,
        .ywapo_group_container_radio h3 span::before {
            width: 76%;
        }

        .ywapo_input_container_radio .ywapo_label_tag_position_after::before {
            z-index: 1;
        }

        .ywapo_input_container_radio .ywapo_label_tag_position_after span {
            position: relative;
            z-index: 2;
        }

        .product-image-wrapper,
        .product-content-wrapper {
            background-color: #fff;
            border: none;
        }

        .product-image-wrapper {
            padding: 0;
        }

        .product-content-wrapper {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    &.columns-3 {
        ul.products li.product, .products .owl-item > .product {
            .price {
                margin: 1.6em 0;
            }
        }
    }

    &.columns-4 {
        ul.products li.product, .products .owl-item > .product {
            .product-content-wrapper {
                padding: 0;
            }

            .ywapo_group_container_radio h3 span::after,
            .ywapo_group_container_radio h3 span::before {
                width: 54%;
            }
        }
    }

    &.columns-5,
    &.columns-6 {
        ul.products li.product, .products .owl-item > .product {
            .product-content-wrapper {
                padding-bottom: 16px;
            }

            &:hover {
                .product-content-wrapper {
                    padding-bottom: 0;
                }
            }

            .hover-area {
                height: 2.063em;
            }

            .price {
                font-size: 1.1em;
            }
        }
    }

    &.columns-6 {
        ul.products li.product, .products .owl-item > .product {
            overflow: visible;
            .button {
                margin-bottom: 0;
            }
        }
    }

}

.remove-col-hover {
    overflow: hidden;
    height: 20px;
    width: 20px;
    padding: 1.6em;
    text-indent: -9999px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;

    &::before {
        float: left;
        font-size: 18px;
        content: "\68";
        line-height: 16px;
        margin: 0;
        text-indent: 0;
        height: 20px;
        width: 20px;
        font-weight: 100;
        top: -9px;
        right: 9px;
        position: relative;
    }
}
